@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Permanent+Marker&display=swap");

html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  background: url("CountingStars.jpg");
  align-content: center;
  background-position: center;
}

.arrow {
  position: absolute;
  right: 3%;
  bottom: 2.2%;
  animation: pulse 3s infinite;
  display: flex;
  flex-direction: column;
}

#click {
  font-size: 25px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
}

p {
  font-size: 100%;
  color: white;
  font-family: "Oleo Script", cursive;
}

.title {
  font-size: 500%;
  color: whitesmoke;
  font-family: "Oleo Script", cursive;
  margin-bottom: 43%;
}

.container {
  text-align: center;
  align-items: center;
  width: 60vh;
}

@media screen and (max-width: 768px) {
  .container {
    text-align: center;
    align-items: center;
    width: 60vh;
    margin-right: 2%;
  }

  .title {
    font-size: 230%;
    color: whitesmoke;
    font-family: "Oleo Script", cursive;
    margin-bottom: 30%;
  }
  .arrow {
    position: absolute;
    right: 0%;
    bottom: 0%;
    animation: pulse 2s infinite;
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 90%;
    color: white;
    font-family: "Oleo Script", cursive;
  }

  .img {
    width: 10%;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.2);
    }
    5% {
      transform: scale(0.3);
    }
  }
}
